<div id="test-container">
    <%=name%>
    <button>click me</button>
    <div id="test">
        <% list.forEach(function (item) { %>
            <p class="demo"><%=item.name%></p>
        <% }) %>
    </div>
</div>